{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>


<style>
  .content {
    max-width: 500px;
    margin: auto;
    background-color: aquamarine;
  }
</style>

<body class="content">
  {% block content %}
  {% endblock content %}
</body>

</html>
