{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>About Me</title>
{% endblock meta %}

{% block content %}
<img
  src="https://1.bp.blogspot.com/-0SOEBGjL9z0/YETHtGEAgrI/AAAAAAAAhJ0/dpv2LFdsmlMpv4FULnPeZlHUC3V-8aC7ACLcBGAsYHQ/s900/IMG_20201120_163533_Bokeh%2B%25281%2529.jpg"
  alt="Foto Saya" 
  width="400"
  style="border-radius: 50%;">
<h1>Tentang Saya</h1>
<p>Hai! Saya adalah seorang mahasiswa Fasilkom UI dan sekarang sedang menjalani semester 4</p>
<table>
  <tr>
    <td>Nama</td>
    <td>Hafizh Salam</td>
  </tr>
  <tr>
    <td>Angkatan</td>
    <td>2019</td>
  </tr>
  <tr>
    <td>Jurusan</td>
    <td>Sistem Informasi</td>
  </tr>
  <tr>
    <td>Hobi</td>
    <td>Tidur</td>
  </tr>
</table>
<br><br>
<h3>Media Sosial</h3>
<table>
  <tr>
    <td>
      <a href="https://fb.me/hafizh.salam">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" width="30">
      </a>
    </td>
    <td>
      <a href="https://instagram.com/pislm">
        <img src="https://fh.unpad.ac.id/wp-content/uploads/2019/07/instagram.png" alt="Instagram" width="30">
      </a>
    </td>
    <td>
      <a href="https://twitter.com/hfslm">
        <img src="https://internetsehat.id/wp-content/uploads/2020/06/Twitter-e1606092468541.png" alt="Twitter" width="30">
      </a>
    </td>
    <td>
      <a href="https://www.linkedin.com/in/hafizhsalam/">
        <img src="https://www.drupal.org/files/project-images/linkedin_circle_logo.png" alt="LinkedIn" width="30">
      </a>
    </td>
    <td>

    </td>
  </tr>
</table>

{% endblock content %}